*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    width: 100%;
    height: 50px;
    /*border: 1px solid red;*/
    background-image: linear-gradient(to left bottom, #7398cf, #587dbf, #4261ae, #2f469c, #212a87);
    justify-content: center;
}

a {
    list-style: none;
    text-decoration: none;
    width: 150px;
    height: 50px;
    /*border: 1px solid blue;*/
    text-align: center;
    line-height: 50px;
    color: white;
  
}

a:hover{
    background: orange;
   
}
